<div class="modular-row bottom {{ page.header.module_classes }}">

    {% if page.header.services %}
    <div class="services">
        {% for service in page.header.services %}
        <div class="service">
            <i class="fa fa-{{ service.icon }}"></i>
            <h4>{{ service.title|raw }}</h4>
            <p>{{ service.desc|raw }}</p>
        </div>    
        {% endfor %}
    </div>  
    {% endif %}

    {{ content|raw }}

    {% for button in page.header.buttons %}
        <a class="{{ button.style }}" href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}
    
    {% if 'borderbottom' in page.header.module_classes %}
    <hr>
    {% endif %}
   
</div>
