<div class="modular-row features {{ page.header.module_classes}}">
    {{ content|raw }}
    {% for button in page.header.buttons %}
        <a {% if button.style != 'none' %}class="{{ button.style }}"{% endif %} href="{{ button.url }}">{{ button.text }}</a>
    {% endfor %}
    <div class="feature-items">
    {% for feature in page.header.features %}
           <div class="feature">
            {% if feature.icon %}
            <i class="fa fa-fw fa-{{ feature.icon }}"></i>
            <div class="feature-content icon-offset">
            {% else %}
            <div class="feature-content">
            {% endif %}
            {% if feature.header %}
            <h4>{{ feature.header }}</h4>
            {% endif %}
            {% if feature.text %}
            <p>{{ feature.text }}</p>
            <p><a href="{{ feature.linkurl }}" {% if feature.linkstyle != 'none' %}class="{{ feature.linkstyle }}"{% endif %}>{{ feature.linktext }}</a></p>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
