<div class="modular-row footer {{ page.header.class}}">
    <div class="footer-items">
    <div class="footer-module large">
        <div class="logo">
            <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
            {% block social %}
                {% include 'partials/social.html.twig' %}
            {% endblock %}
        </div>
        {% if page.header.description %}
        <p>{{ page.header.description }}</p>
        {% endif %}
    </div>
    <div class="footer-module"><h4>{{ page.header.contact_title }}</h4></div>
    <div class="footer-module"><h4>{{ page.header.links_title }}</h4></div>
    <div class="footer-module">
        <h4>{{ page.header.newsletter_title }}</h4>
        <p>{{ page.header.newsletter_description }}</p>
    </div>
    </div>

    {{ content }}
</div>
</div>
