{% block showcase %}
<div id="content-slide">
  <div class="slideme">
    {% for slide in page.header.slides %}
       <div class="modular-row showcase flush-top" {% if page.media[slide.image] %}style="background-image: url({{ page.media[slide.image].url }});background-blend-mode:{{slide.blend}};background-color: {{slide.backcolor}};"{% endif %}>
          <h1>{{ slide.heading|raw }}</h1>
          <h2>{{ slide.subheading|raw }}</h2>
          {% if slide.button_text %}<a class="button" href="{{ slide.button_url }}">{{ slide.button_text }}</a>
          
          {% endif %}
      </div>
  {% endfor %}
</div>
</div>

{% block content %}
<div class="content-wrapper {{ page.header.module_classes }}">
  {{ page.content|raw }}
</div>
{% endblock %}

<script type="text/javascript">

$('#content-slide').slideme({
  arrows: {{ page.header.slide_settings.arrows}},
  autoslide: {{ page.header.slide_settings.autoslide }},
  autoslideHoverStop: {{ page.header.slide_settings.autoslideHoverStop}},
  interval: {{ page.header.slide_settings.interval}},
  loop: {{ page.header.slide_settings.loop }},
  pagination: "numbers",
  transition : '{{ page.header.slide_settings.transition }}',
  itemsForSlide: {{ page.header.slide_settings.itemsForSlide }},
  touch: {{ page.header.slide_settings.touch}},
  swipe: {{ page.header.slide_settings.swipe}}

});
</script>
{% endblock %}

