{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags(of_page, children_only) : taxonomylist.get() %}

{% if taxlist %}

<ul class="archives">
    {% for tax,value in taxlist[taxonomy] %}
    <li>
        <a href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }} </a>
    </li>
    {% endfor %}
</ul>
{% endif %}