<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{% if meta_title %}
<title>{{ meta_title }}</title>
<meta itemprop="name" content="{{ meta_title }}">
<meta property="og:title" content="{{ meta_title }}">
<meta property="twitter:title" content="{{ meta_title }}">
{% endif %}

{# URLs #}
{% if canonical_url %}
<link rel="canonical" href="{{ canonical_url }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="twitter:url" content="{{ canonical_url }}">
{% endif %}

{# Site Description #}
{% if meta_description %}
<meta name="description" content="{{ meta_description }}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="twitter:description" content="{{ meta_description }}">
<meta itemprop="description" content="{{ meta_description }}">
{% endif %}

{# Date Published #}
{% set datePublished = include('partials/page/date.html.twig') %}

{# Featured image #}
{% set featured_image = page.media[page.header.featuredImage] ?: page.media.all|filter((v, k) => k != page.header.author.avatarImage and (v.type == 'image' or v.type == 'vector'))|first %}
{% if featured_image %}
<meta property="og:image" content="{{ featuredImage.url|e }}">
<meta property="twitter:image" content="{{ featuredImage.url|e }}">
<meta itemprop="image" content="{{ featuredImage.url|e }}">
{% endif %}

{# Social Media Type #}
<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">

{# Basic Schema.org json #}
{% block javascripts %}
  {% do assets.addInlineJs('
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "' ~ canonical_url ~ '"
        },
        "headline": "' ~ page_title|raw ~ '",
        "image": {
            "@type": "ImageObject",
            "url": "' ~ canonical_url ~ '/' ~ page.header.featuredImage ~ '"
        },
        "datePublished": "' ~ datePublished ~ '",
        "inLanguage": "' ~ lang ~ '",
        "wordCount": "' ~ page.content|wordcount ~ '",
        "author": {
            "@type": "Person",
            "name": "' ~ author|raw ~ '",
            "description": "' ~ author_bio|raw ~ '",
            "url": "' ~ author_twitter ~ '"
        },
        "description": "' ~ meta_description ~ '"
      }', {group:'bottom', type: 'application/ld+json'}) %}
  {% endblock %}

{# Load Site and Page Specific Metadata Overloads #}
{% for meta in page.metadata %}
<meta {% if meta.name %}name="{{ meta.name|e }}" {% endif %}
{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv|e }}" {% endif %}
{% if meta.charset %}charset="{{ meta.charset|e }}" {% endif %}
{% if meta.property %}property="{{ meta.property|e }}" {% endif %}
{% if meta.content %}content="{{ meta.content|raw }}" {% endif %}>
{% endfor %}